#root{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    padding: 0;
    margin: 0;
    background-color: #fafafa;
}
*{
    font-family: sans-serif;
    box-sizing: border-box;
}
.app_container{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem 0.5rem;
}
.landing-container{
    display: flex;
    max-width: 800px;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.landing-search-box-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.landing-search-box-container input{
    display: flex;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    padding: 0.2rem 0.5rem;
    letter-spacing: 1px;
    max-width: 300px;
    height: 40px;
    background-color: #f8f8f8;
    border: none;
    box-shadow: 0 0 11px -2px #dcdcdc;
}
.coins-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 1.5rem;
    color: #636363;
}
.coin-item-container{
   display: flex;
   width: 100%;
   padding: 0.6rem 0.6rem 0.6rem 1rem;
   background-color: rgb(244, 244, 244);
   border-bottom: 1px solid #ccc;
   transition: 0.3s;
   justify-content: space-between;
   text-align: left;
   overflow: hidden;
}
.coin-item-container:hover{
    transform: scale(1.005);
    box-shadow: 0px 0px 15px 0 #ccc;
}
.coin-item-container:nth-child(1){
    border-radius: 5px 5px 0  0;
}
.coin-item-container:last-child{
    border-radius: 0 0 5px 5px;
    border: none;
}
.coin-item-name-box{
    width: 25%;
    display: flex;
    align-items: center;
}
.coin-icon{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
}
.coin-name{
    display: flex;
    margin: 0.5rem 0 0.5rem 1rem;
    flex-shrink: 1;
}
.coin-changes.red{
    color: red;
}
.coin-changes.green{
    color: green;
}
.coin-symbol{
    display: flex;
    text-align: left;
    width: 10%;
}
.coin-price{
    width: 20%;
}
.coin-changes{
    width: 15%;
}
.coin-market-cap{
    width: 20%;
    text-align: right;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}
/* ----- */
.loader{
    width: 100px;
    height: 100px;
    display: flex;
}